<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>311477229751-71perf6a90q78phkd35drk5jcmlr99gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311477229751-71perf6a90q78phkd35drk5jcmlr99gc</string>
	<key>API_KEY</key>
	<string>AIzaSyB3ikzg00ipF3PFEgfFZPnoDNeLT_JtR5U</string>
	<key>GCM_SENDER_ID</key>
	<string>311477229751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibtikar.wassel</string>
	<key>PROJECT_ID</key>
	<string>wassel-client</string>
	<key>STORAGE_BUCKET</key>
	<string>wassel-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311477229751:ios:b2be604a0318a36b</string>
	<key>DATABASE_URL</key>
	<string>https://wassel-client.firebaseio.com</string>
</dict>
</plist>